/* stylelint-disable max-line-length */

/*
 * GE HealthCare Brand Hub uses Source Sans Pro. Until the licensed webfont
 * files are added to /fonts, we resolve `source-sans` through a metric-matched
 * system fallback so layout and LCP stay stable.
 */
@font-face {
  font-family: source-sans-fallback;
  size-adjust: 100%;
  ascent-override: 100%;
  src: local('Arial');
}
